{
  "models": [
    {
      "id": "deepseek/deepseek-reasoner",
      "name": "deepseek-reasoner",
      "provider": "deepseek",
      "baseUrl": "https://api.deepseek.com",
      "apiKey": "",
      "model": "deepseek-reasoner"
    },
    {
      "id": "bailian/qwen-turbo",
      "name": "通义千问 Turbo",
      "provider": "qwen",
      "baseUrl": "https://dashscope.aliyuncs.com/compatible-mode/v1",
      "apiKey": "",
      "model": "qwen-turbo"
    },
    {
      "id": "custom-provider/model-name",
      "name": "自定义模型",
      "provider": "custom-provider",
      "baseUrl": "",
      "apiKey": "",
      "model": ""
    }
  ],
  "mcp": {
    "amap-maps-streamableHTTP": {
      "url": "https://mcp.amap.com/mcp?key=key"
    }
  }
}
